.skin-black .main-header .navbar {
  background-color: #222d32;
}
.skin-black .main-header .logo {
  background-color: red;
}
.skin-black .main-header .logo:hover {
  background-color: red;
}
.skin-black .main-header .navbar .sidebar-toggle:hover {
  background-color: red;
}