<form method='post' action=<%= finance_path %> >
  <div class="form-group">
    <div class="input-group">
      <label for="file">Upload</label>
      <input type="file" class="form-control-file" id="file" name="file">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>